@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Sansation", sans-serif;
}

.footer-container p{
    font-size: 15px;
    
}