.NavBar{
    display: flex;
    padding: 0;
    margin: 0;
}

.NavBar img{
    display: flex;
    width: 220px;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 100px;
}


.NavBar .links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin-right: 40px;
    font-size: 22px;
    color: #003366;
}



