@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    color: white;
    font-family: "Sansation", sans-serif;
}

.container img{
    width: 100%;
    max-width: 1660px;
    
}

.container p{
    font-size: 30px;
    padding: 10px;
}