@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.Services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Sansation", sans-serif;
    margin-top: 50px;
}

.Services h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;

}

.Services p{
    font-size: 20px;
    max-width: 50%;
    margin-bottom: 15px;
    text-align: center;
}